<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95566937003-opatj5e1fs5jfb56tpso4pbumkcl5uks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95566937003-opatj5e1fs5jfb56tpso4pbumkcl5uks</string>
	<key>API_KEY</key>
	<string>AIzaSyAkqPvPvqdgHAxSo0mXh6UziS8DFqluFTs</string>
	<key>GCM_SENDER_ID</key>
	<string>95566937003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.MeetFun</string>
	<key>PROJECT_ID</key>
	<string>meetfun-6fc0b</string>
	<key>STORAGE_BUCKET</key>
	<string>meetfun-6fc0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95566937003:ios:c6876e4c3ab2ada4d0b0ee</string>
</dict>
</plist>